<li class="header"><%= t('admin.sidebar.main_navigation') %></li>
<li> <%= link_to '<i class="fa fa-dashboard"></i><span>Dashboard</span>'.html_safe, "#" %> </li>
<li> <%= link_to '<i class="fa fa-plus"></i><span>New Proposal</span>'.html_safe, "#" %> </li>
<li> <%= link_to '<i class="fa fa-spinner"></i><span>Work In Progress</span>'.html_safe, "#" %> </li>
<li> <%= link_to '<i class="fa fa-check-square-o"></i><span>Completed Work</span>'.html_safe, "#" %> </li>
<li> <%= link_to '<i class="fa fa-usd"></i><span>Invoices</span>'.html_safe, "#" %> </li>
<li> <%= link_to '<i class="fa fa-comments"></i><span>Communication</span>'.html_safe, "#" %> </li>
<li> <%= link_to '<i class="fa fa-phone"></i><span>Contact Us</span>'.html_safe, "#" %> </li>

