<li class="header">Creative Menu</li>
<li> <%= link_to '<i class="fa fa-dashboard"></i><span>Dashboard</span>'.html_safe, "#" %> </li>
<li> <%= link_to '<i class="fa fa-tasks"></i><span>Tasks</span>'.html_safe, tasks_path %> </li>
<li> <%= link_to '<i class="fa fa-question-circle"></i><span>Work Requests</span>'.html_safe, "#" %> </li>
<li> <%= link_to '<i class="fa fa-spinner"></i><span>Work In Progress</span>'.html_safe, "#" %> </li>
<li> <%= link_to '<i class="fa fa-check-square-o"></i><span>Completed Work</span>'.html_safe, "#" %> </li>
<li> <%= link_to '<i class="fa fa-calendar"></i><span>My Schedule</span>'.html_safe, schedule_items_path %> </li>
<li> <%= link_to '<i class="fa fa-usd"></i><span>Payments</span>'.html_safe, "#" %> </li>
