<li class="header">Creative Menu</li>
<li> <%= link_to '<i class="fa fa-dashboard"></i><span>Dashboard</span>'.html_safe, creative_dashboard_path %> </li>
<li> <%= link_to '<i class="fa fa-tasks"></i><span>Tasks</span>'.html_safe, tasks_path %> </li>
<li> <%= link_to '<i class="fa fa-question-circle"></i><span>Work Requests</span>'.html_safe, proposal_requests_path %> </li>
<li> <%= link_to '<i class="fa fa-spinner"></i><span>Work In Progress</span>'.html_safe, proposals_path %> </li>
<li> <%= link_to '<i class="fa fa-check-square-o"></i><span>Completed Work</span>'.html_safe, "#" %> </li>
<li> <%= link_to '<i class="fa fa-comments"></i><span>Communication</span>'.html_safe, chatroom_path(current_user.chatrooms.first) unless current_user.chatrooms.first.nil? %> </li>
<li> <%= link_to '<i class="fa fa-calendar"></i><span>My Schedule</span>'.html_safe, schedule_items_path %> </li>
<li> <%= link_to '<i class="fa fa-image"></i><span>My Portfolio</span>'.html_safe, collections_path %> </li>
<li> <%= link_to '<i class="fa fa-usd"></i><span>Payments</span>'.html_safe, "#" %> </li>
