<div class='row'>
  <div class='col-md-3'>
    <% @user.schedule_items.each do |si| %>
      <%= si.location.name unless si.location.nil? %>
      <br>
      <%= si.start_date %>
      <br>
      <%= si.end_date %>
      <hr>
    <% end %>
  </div>
  <div class='col-md-9'>
    <% @user.collections.each do |collection| %>
      <h3 class='text-center'> <%= collection.title %> </h3>
      <br>
      <% collection.collection_items.each do |item| %>
        <div class='col-md-4'>
          <%= image_tag item.file, class: 'img-responsive' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
