<div class="box">
  <div class="box-header">
    <h3 class="box-title"></h3>

    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input name="table_search" class="form-control pull-right" placeholder="Search" type="text">

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th>Title</th>
          <th>Deadline</th>
          <th>Deposit Paid</th>
          <th>Accepted</th>
          <th>Proposal type</th>
          <th>Paid</th>
          <th colspan="2"></th>
        </tr>
        <% @proposals.each do |proposal| %>
          <tr>
            <td><%= proposal.title %></td>
            <td><%= proposal.deadline %></td>
            <td>
              <% if proposal.deposit_paid %>
                <span class='label label-success'>Paid</span>
              <% else %>
                <span class='label label-warning'>Deposit Required</span>
              <% end %>
            </td>
            <td>
              <% if proposal.accepted %>
                <span class='label label-success'>Accepted</span>
              <% else %>
                <span class='label label-warning'>Pending Deposit</span>
              <% end %>
            </td>
            <td><%= proposal.proposal_type %></td>
            <td><%= proposal.paid %></td>
            <td><%= link_to 'Show', proposal, class: 'btn btn-primary' %></td>
            <td><%= link_to 'Delete', proposal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' unless proposal.company.users.include?(current_user) == false %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>




