<div class="box box-primary">
  <div class="box-body box-profile">
    <% unless @proposal.company.nil? %>
      <%= image_tag @proposal.company.logo, class: 'profile-user-img img-responsive img-circle'%>
    <% end %>
    <h3 class="profile-username text-center"> <%= @proposal.title %></h3>

    <!-- <p class="text-muted text-center">Software Engineer</p> -->

    <ul class="list-group list-group-unbordered">
      <li class="list-group-item">
        <b>Deadline</b> <a class="pull-right"><%= @proposal.deadline %></a>
      </li>
      <li class="list-group-item">
        <b>Is Paid</b> <a class="pull-right"><%= @proposal.paid? %></a>
      </li>
      <li class="list-group-item">
        <b>Complete</b> <a class="pull-right"><%= @proposal.completed? %></a>
      </li>
      <li class="list-group-item">
        <b>Assigned To</b> <a class="pull-right"><%= @proposal.user.email unless @proposal.user.nil? %></a>
      </li>
    </ul>

    <% if current_user.company ==  @proposal.company %>
      <%= link_to 'Edit', edit_proposal_path(@proposal), class: "btn btn-primary btn-block" %>
    <% end %>
    <% if  @proposal.deposit_paid == true %>
      <%= link_to 'Deposit Paid', "#", class: "btn btn-success btn-block disabled" %>
    <% else %>
      <%= link_to 'Pay Depost', proposal_payment_path(@proposal), class: "btn btn-warning btn-block" %>
    <% end %>
     <% if  @proposal.paid == true %>
      <%= link_to 'Paid', proposal_payment_path(@proposal), class: "btn btn-success btn-block disabled" %>
    <% else %>
      <% if @proposal.deposit_paid == true %>
        <%= link_to 'Pay', proposal_payment_path(@proposal), class: "btn btn-warning btn-block" %>
      <% else %>
        <%= link_to 'Deposit Required First', "#", class: "btn btn-warning btn-block disabled" %>
      <% end %>
    <% end %>
  </div>
  <!-- /.box-body -->
</div>

